DirectoryIndex Principal.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Se o utilizador tentar aceder ao index.html ou à raiz, reencaminha para o Principal.php
    RewriteRule ^index\.html$ Principal.php [NC,R=301,L]
</IfModule>